body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat-box {
    width: 400px;
    height: 500px;
    background-color: #868686;
    overflow-y: auto;
    padding: 10px;
}

#chat-input {
    width: 350px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
}